-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: medibook
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrateurs`
--

DROP TABLE IF EXISTS `administrateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrateurs` (
  `numero_matricule` varchar(50) DEFAULT NULL,
  `id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FKsfe67ak7m6se0xg0ry5lrxrlp` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrateurs`
--

LOCK TABLES `administrateurs` WRITE;
/*!40000 ALTER TABLE `administrateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `administrateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `antecedents_medicaux`
--

DROP TABLE IF EXISTS `antecedents_medicaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `antecedents_medicaux` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `actif` bit(1) NOT NULL,
  `date_debut` date DEFAULT NULL,
  `details` text,
  `libelle` varchar(150) NOT NULL,
  `carnet_medical_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKifc4ihb7qi35sxy7t3d7w6a3f` (`carnet_medical_id`),
  CONSTRAINT `FKifc4ihb7qi35sxy7t3d7w6a3f` FOREIGN KEY (`carnet_medical_id`) REFERENCES `carnets_medicaux` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antecedents_medicaux`
--

LOCK TABLES `antecedents_medicaux` WRITE;
/*!40000 ALTER TABLE `antecedents_medicaux` DISABLE KEYS */;
INSERT INTO `antecedents_medicaux` VALUES (4,_binary '',NULL,'Hypertension legere','Antecedents medicaux',1);
/*!40000 ALTER TABLE `antecedents_medicaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carnets_medicaux`
--

DROP TABLE IF EXISTS `carnets_medicaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carnets_medicaux` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `allergies` text,
  `maladies_chroniques` text,
  `traitements_en_cours` text,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6oushfuolgg10tucucc5dwoxy` (`patient_id`),
  CONSTRAINT `FKe4pqk87sjke95v5uj2lme55fv` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carnets_medicaux`
--

LOCK TABLES `carnets_medicaux` WRITE;
/*!40000 ALTER TABLE `carnets_medicaux` DISABLE KEYS */;
INSERT INTO `carnets_medicaux` VALUES (1,'Glutten , papaye','Aucune','Paracetamol si besoin',1);
/*!40000 ALTER TABLE `carnets_medicaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificats_medicaux`
--

DROP TABLE IF EXISTS `certificats_medicaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificats_medicaux` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_certificat` date NOT NULL,
  `debut_arret` date DEFAULT NULL,
  `destinataire` varchar(150) DEFAULT NULL,
  `fin_arret` date DEFAULT NULL,
  `motif` varchar(180) DEFAULT NULL,
  `restrictions` text,
  `type` varchar(50) NOT NULL,
  `consultation_id` bigint DEFAULT NULL,
  `medecin_id` bigint NOT NULL,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKaqy65bpxiowe2dt08jsyhw2lr` (`consultation_id`),
  KEY `FK8vq35we956cd2j0cowdxxc30m` (`medecin_id`),
  KEY `FKgib8q440n4stwsyaajq8549tt` (`patient_id`),
  CONSTRAINT `FK8vq35we956cd2j0cowdxxc30m` FOREIGN KEY (`medecin_id`) REFERENCES `medecins` (`id`),
  CONSTRAINT `FKaqy65bpxiowe2dt08jsyhw2lr` FOREIGN KEY (`consultation_id`) REFERENCES `consultations` (`id`),
  CONSTRAINT `FKgib8q440n4stwsyaajq8549tt` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificats_medicaux`
--

LOCK TABLES `certificats_medicaux` WRITE;
/*!40000 ALTER TABLE `certificats_medicaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificats_medicaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conditions_medicales`
--

DROP TABLE IF EXISTS `conditions_medicales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conditions_medicales` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chronique` bit(1) NOT NULL,
  `date_diagnostic` date DEFAULT NULL,
  `details` text,
  `libelle` varchar(150) NOT NULL,
  `traitement` text,
  `carnet_medical_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKpab58pf41jtkqt1aul4uc3o2p` (`carnet_medical_id`),
  CONSTRAINT `FKpab58pf41jtkqt1aul4uc3o2p` FOREIGN KEY (`carnet_medical_id`) REFERENCES `carnets_medicaux` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conditions_medicales`
--

LOCK TABLES `conditions_medicales` WRITE;
/*!40000 ALTER TABLE `conditions_medicales` DISABLE KEYS */;
/*!40000 ALTER TABLE `conditions_medicales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuration_systeme`
--

DROP TABLE IF EXISTS `configuration_systeme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuration_systeme` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cle` varchar(100) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `modifie_par` varchar(150) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `valeur` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6pml51rivcs8o6xe2hav8fpub` (`cle`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuration_systeme`
--

LOCK TABLES `configuration_systeme` WRITE;
/*!40000 ALTER TABLE `configuration_systeme` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuration_systeme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultations`
--

DROP TABLE IF EXISTS `consultations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consultations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_consultation` date NOT NULL,
  `diagnostic` text,
  `frequence_cardiaque` int DEFAULT NULL,
  `heure_consultation` time(6) DEFAULT NULL,
  `motif_principal` varchar(255) DEFAULT NULL,
  `observations` text,
  `spo2` int DEFAULT NULL,
  `symptomes` text,
  `temperature` double DEFAULT NULL,
  `ta_dia` int DEFAULT NULL,
  `ta_sys` int DEFAULT NULL,
  `traitement` text,
  `medecin_id` bigint NOT NULL,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm13paahvm6yuirypqbthcnces` (`medecin_id`),
  KEY `FKdqyibd6w1h5h66xn9aqx7fwv5` (`patient_id`),
  CONSTRAINT `FKdqyibd6w1h5h66xn9aqx7fwv5` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`),
  CONSTRAINT `FKm13paahvm6yuirypqbthcnces` FOREIGN KEY (`medecin_id`) REFERENCES `medecins` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultations`
--

LOCK TABLES `consultations` WRITE;
/*!40000 ALTER TABLE `consultations` DISABLE KEYS */;
INSERT INTO `consultations` VALUES (1,'2026-04-29','PALUDISME',98,'01:27:00.000000','fievre','yeux rougeate',97,'maux de tete',38.9,22,145,'paracetamol',2,1),(2,'2026-04-29','Diagnostic clinique enregistre.',96,'01:38:00.000000','Consultation medicale','',97,'Symptomes saisis pendant la consultation.',38.7,92,145,'Traitement et suivi renseignes.',2,1);
/*!40000 ALTER TABLE `consultations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_medical`
--

DROP TABLE IF EXISTS `document_medical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_medical` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chemin_fichier` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_medical`
--

LOCK TABLES `document_medical` WRITE;
/*!40000 ALTER TABLE `document_medical` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_medical` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `images_medicales`
--

DROP TABLE IF EXISTS `images_medicales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `images_medicales` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `date_image` date DEFAULT NULL,
  `donnees` longtext,
  `format` varchar(20) DEFAULT NULL,
  `nom` varchar(200) NOT NULL,
  `source` varchar(200) DEFAULT NULL,
  `taille` varchar(50) DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2t03h99xwtvir43fe6s55mdpe` (`patient_id`),
  CONSTRAINT `FK2t03h99xwtvir43fe6s55mdpe` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `images_medicales`
--

LOCK TABLES `images_medicales` WRITE;
/*!40000 ALTER TABLE `images_medicales` DISABLE KEYS */;
/*!40000 ALTER TABLE `images_medicales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `infirmiers`
--

DROP TABLE IF EXISTS `infirmiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infirmiers` (
  `biographie` text,
  `matricule` varchar(50) NOT NULL,
  `service` varchar(120) DEFAULT NULL,
  `id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_fr4y2y4l1eiqfu7h6cdgbp18l` (`matricule`),
  CONSTRAINT `FKpm9dxteui3gybhh1sjvek9xsw` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infirmiers`
--

LOCK TABLES `infirmiers` WRITE;
/*!40000 ALTER TABLE `infirmiers` DISABLE KEYS */;
INSERT INTO `infirmiers` VALUES (NULL,'113000','Urgences',3);
/*!40000 ALTER TABLE `infirmiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs_connexion`
--

DROP TABLE IF EXISTS `logs_connexion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logs_connexion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `adresse_ip` varchar(50) DEFAULT NULL,
  `date_connexion` datetime(6) DEFAULT NULL,
  `email_utilisateur` varchar(150) DEFAULT NULL,
  `message_erreur` varchar(255) DEFAULT NULL,
  `role` varchar(20) DEFAULT NULL,
  `succes` bit(1) NOT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs_connexion`
--

LOCK TABLES `logs_connexion` WRITE;
/*!40000 ALTER TABLE `logs_connexion` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs_connexion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medecins`
--

DROP TABLE IF EXISTS `medecins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medecins` (
  `biographie` text,
  `matricule` varchar(50) NOT NULL,
  `specialite_medicale` varchar(120) DEFAULT NULL,
  `id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_n9vyaarlygm644qcn9xneds69` (`matricule`),
  CONSTRAINT `FKkjhmopx1y66139mt1efa1iprk` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medecins`
--

LOCK TABLES `medecins` WRITE;
/*!40000 ALTER TABLE `medecins` DISABLE KEYS */;
INSERT INTO `medecins` VALUES ('Urgences','11300','Medecine generale',2);
/*!40000 ALTER TABLE `medecins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicaments`
--

DROP TABLE IF EXISTS `medicaments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicaments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `dosage` varchar(80) DEFAULT NULL,
  `duree_jours` int DEFAULT NULL,
  `instructions` text,
  `moments` varchar(120) DEFAULT NULL,
  `nom` varchar(150) NOT NULL,
  `prises_par_jour` int DEFAULT NULL,
  `voie` varchar(50) DEFAULT NULL,
  `ordonnance_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb81n2mpghv4l9y0y08pl4lhe1` (`ordonnance_id`),
  CONSTRAINT `FKb81n2mpghv4l9y0y08pl4lhe1` FOREIGN KEY (`ordonnance_id`) REFERENCES `ordonnances` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicaments`
--

LOCK TABLES `medicaments` WRITE;
/*!40000 ALTER TABLE `medicaments` DISABLE KEYS */;
INSERT INTO `medicaments` VALUES (1,'80/480mg',3,'Avec les repas','matin, soir','Artemether/Lumefantrine',2,'Oral',1);
/*!40000 ALTER TABLE `medicaments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_creation` datetime(6) DEFAULT NULL,
  `lu` bit(1) NOT NULL,
  `message` text,
  `titre` varchar(200) NOT NULL,
  `type` varchar(50) NOT NULL,
  `urgence` varchar(50) DEFAULT NULL,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKsxbhag07yf88eve8uuor8tll1` (`patient_id`),
  CONSTRAINT `FKsxbhag07yf88eve8uuor8tll1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ordonnances`
--

DROP TABLE IF EXISTS `ordonnances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordonnances` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_prescription` date NOT NULL,
  `recommandations` text,
  `renouvellement` varchar(120) DEFAULT NULL,
  `statut` varchar(50) DEFAULT NULL,
  `validite_jours` int DEFAULT NULL,
  `consultation_id` bigint DEFAULT NULL,
  `medecin_id` bigint NOT NULL,
  `patient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK51g84fnftpcnbx8rmaknq9wv2` (`consultation_id`),
  KEY `FK4yoexakpq3r0o6t3jxuc7kxw4` (`medecin_id`),
  KEY `FK2kqtlhkt1gn2ylmp5yq6un6wo` (`patient_id`),
  CONSTRAINT `FK2kqtlhkt1gn2ylmp5yq6un6wo` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`),
  CONSTRAINT `FK4yoexakpq3r0o6t3jxuc7kxw4` FOREIGN KEY (`medecin_id`) REFERENCES `medecins` (`id`),
  CONSTRAINT `FK51g84fnftpcnbx8rmaknq9wv2` FOREIGN KEY (`consultation_id`) REFERENCES `consultations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordonnances`
--

LOCK TABLES `ordonnances` WRITE;
/*!40000 ALTER TABLE `ordonnances` DISABLE KEYS */;
INSERT INTO `ordonnances` VALUES (1,'2026-04-29','','Non renouvelable','active',30,1,2,1);
/*!40000 ALTER TABLE `ordonnances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patients` (
  `adresse` varchar(255) DEFAULT NULL,
  `assurance` varchar(120) DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `groupe_sanguin` varchar(10) DEFAULT NULL,
  `handicap` varchar(150) DEFAULT NULL,
  `lien_urgence` varchar(80) DEFAULT NULL,
  `medecin_traitant` varchar(150) DEFAULT NULL,
  `notes_patient` text,
  `numero_urgence` varchar(30) DEFAULT NULL,
  `personne_urgence` varchar(150) DEFAULT NULL,
  `poids_kg` double DEFAULT NULL,
  `profession` varchar(120) DEFAULT NULL,
  `sexe` varchar(20) DEFAULT NULL,
  `situation_familiale` varchar(100) DEFAULT NULL,
  `specialite_medecin` varchar(120) DEFAULT NULL,
  `taille_cm` double DEFAULT NULL,
  `telephone_medecin` varchar(30) DEFAULT NULL,
  `id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FKahmxi7dapt9pwfqvrqjdmpuhc` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
INSERT INTO `patients` VALUES ('Bingerville, Abidjan','CNAM / CMU','2004-11-30','O-','Aucun','Mere','Dr. Ange Kouassi','Prefere les rendez-vous du matin.','+225 01 02 03 04','Bie Mireille',58,'Etudiante','Masculin','Celibataire','Medecine generale',165,'+225 07 00 00 01',1);
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rappels`
--

DROP TABLE IF EXISTS `rappels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rappels` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_heure` datetime(6) DEFAULT NULL,
  `description` text,
  `fait` bit(1) NOT NULL,
  `titre` varchar(150) NOT NULL,
  `type` varchar(50) NOT NULL,
  `urgence` varchar(50) DEFAULT NULL,
  `carnet_medical_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKpp08iirvool2ytikx9q0kih41` (`carnet_medical_id`),
  CONSTRAINT `FKpp08iirvool2ytikx9q0kih41` FOREIGN KEY (`carnet_medical_id`) REFERENCES `carnets_medicaux` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rappels`
--

LOCK TABLES `rappels` WRITE;
/*!40000 ALTER TABLE `rappels` DISABLE KEYS */;
/*!40000 ALTER TABLE `rappels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `signe_vital`
--

DROP TABLE IF EXISTS `signe_vital`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `signe_vital` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_heure` datetime(6) DEFAULT NULL,
  `frequence_cardiaque` int DEFAULT NULL,
  `glycemie` double DEFAULT NULL,
  `imc` double DEFAULT NULL,
  `poids` double DEFAULT NULL,
  `saturation_oxygene` double DEFAULT NULL,
  `temperature` double DEFAULT NULL,
  `tension` varchar(255) DEFAULT NULL,
  `infirmier_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKehuvp1s7l5ttdamw63xit02g` (`infirmier_id`),
  CONSTRAINT `FKehuvp1s7l5ttdamw63xit02g` FOREIGN KEY (`infirmier_id`) REFERENCES `infirmiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `signe_vital`
--

LOCK TABLES `signe_vital` WRITE;
/*!40000 ALTER TABLE `signe_vital` DISABLE KEYS */;
/*!40000 ALTER TABLE `signe_vital` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soin_infirmier`
--

DROP TABLE IF EXISTS `soin_infirmier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soin_infirmier` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_heure` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `type_soin` varchar(255) DEFAULT NULL,
  `infirmier_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK8s67s0b1vou4w77pspexvf7c5` (`infirmier_id`),
  CONSTRAINT `FK8s67s0b1vou4w77pspexvf7c5` FOREIGN KEY (`infirmier_id`) REFERENCES `infirmiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soin_infirmier`
--

LOCK TABLES `soin_infirmier` WRITE;
/*!40000 ALTER TABLE `soin_infirmier` DISABLE KEYS */;
/*!40000 ALTER TABLE `soin_infirmier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `actif` bit(1) NOT NULL,
  `cmu` varchar(100) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `photo_profil` longtext,
  `prenom` varchar(100) NOT NULL,
  `role` enum('PATIENT','MEDECIN','INFIRMIER') NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-29 20:05:54
